.Modal__background{
    margin-left: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: calc(100% - 57px);
    height: 100vh;
    background-color: #4B557C;
    opacity: 0.7;
    z-index: 15;
}
.Modal{
    height: 600px;
    width: 1000px;
    position: relative;
    background-color: white;
    border-radius: 8px;
    opacity: unset;
    z-index: 20;
}