.Product{
    width: 350px;
    height: 450px;
    margin-top: 15px;
    border: 1px solid rgba(112,112,112,.12);
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.Prices__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Prices__list li{
    padding: 10px;
    color: #616161;
    font-weight: 500;
}
.Product__image{
    width: 300px;
    height: 250px;
    object-fit: scale-down;
}
.Product__name{
    max-width: 100%;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    color: #3b3b3b;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Product__supplier{
    max-width: 200px;
    align-self: flex-start;
    color: #616161;
    padding-left: 10px;
}
