.Product{
    margin: 8px;
    border: 1px solid rgba(112,112,112,.12);
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 375px;
    background-color: #ffffff;
}
.Product__prices{
    border-top: 1px solid rgba(104, 104, 104, 0.2);
    margin-top: 5px;
    width: calc(100% - 15px);
}
.Prices__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.Prices__list li{
    padding: 10px;
    color: #616161;
    font-weight: 500;
}
.Product__image{
    width: calc(100% - 20px);
    margin: 0 10px 0 10px;
    height: 200px;
    object-fit: scale-down;
    cursor: pointer;
}
.Product__name{
    max-width: 100%;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    color: #3b3b3b;
    height: 30px;
}
.Product__name__text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1rem;
    max-height: 2rem;
}
.Product__supplier{
    max-width: 200px;
    align-self: flex-start;
    color: #616161;
    padding-left: 10px;
}
.Product__hover > button {
    visibility: hidden;
}
.Product__checkbox{
    visibility: hidden;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 1.2px solid rgba(112,112,112,.12);
    background-color: #fff;
    top: 13px;
    left: 20px;
}
.Product__hover > button{
    position: relative;
    left: calc(100% - 190px);
    top: 13px;
    width: 154px;
    height: 38px;
    border-radius: 4px;
    background-color: #61d5df;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 600;
}
.Product:hover {
    border-color: #61d5df;
}
.Product:hover .Product__hover > button{
    visibility: unset;
}
.Product:hover .Product__hover > .Product__checkbox{
    visibility: unset;
}
.Product__hover--active > button  {
    visibility: visible;
}
.Product__hover--active > .Product__checkbox {
    visibility: visible;
}
.Product__hover--active{
    border-color: #61d5df;
}
